.o-table {
  width: 400px;
  border: solid 1px#ff9d02;
  border-radius: 3px;
}

.o-table thead {
  color: #ffffff;
  background: #ff9d02;
  text-align: center;
}

.o-table tbody {
  color: #666666;
  text-align: center;
}